<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Bid Projects Manager</span>
    <span class="toolbar-item-spacer"></span>
    <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>Logout
        </button>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="app-sidenav">
        <mat-nav-list>
            <mat-list-item routerLink="/projects">
                <mat-icon matListItemIcon>list_alt</mat-icon>
                <div matListItemTitle>Projects</div>
            </mat-list-item>
            <mat-list-item *ngIf="isAdmin || isEditor" (click)="addProject()">
                <mat-icon matListItemIcon>add</mat-icon>
                <div matListItemTitle>Create Project</div>
            </mat-list-item>
            <mat-list-item routerLink="/reports">
                <mat-icon matListItemIcon>assessment</mat-icon>
                <div matListItemTitle>Reports</div>
            </mat-list-item>
            <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="isAdmin">
                <mat-expansion-panel-header>
                    Administrator Tools
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/countries">
                        <mat-icon matListItemIcon>public</mat-icon>
                        <div matListItemTitle>Countries</div>
                    </a>
                    <a mat-list-item routerLink="/currencies">
                        <mat-icon matListItemIcon>euro_symbol</mat-icon>
                        <div matListItemTitle>Currencies</div>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="main-content">
            <router-outlet>
            </router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>