$small-width: 576px;
$tablet-width: 768px;
$desktop-width: 1024px;

$table-header-background: #0e66ca;
$app-background-color: rgba(255, 255, 255, 0.8);

$gray: #eeeeee; 
$yellow: #f0d823;
$red: #c90b0b;
$blue: #1c74c6;
$white: #ffffff;
$green: #12cc12;
$purple : #612bdf;
$black: #000000;
$orange-light: #FDB750;

$even-row-background: #f2f2f2;